<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
<div style="margin:50px;width:100%;text-align:center">
    <form method="post">

        {{form.csrf_token()}}
        {{form.author.label}}{{form.author}}<br>
        {{form.book.label}}{{form.book}}<br>
        {{form.submit}}<br>
        {#显示消息闪现#}
        {%for message in get_flashed_messages() %}
            {{message}}
        {%endfor%}

    </form>
</div>
<hr>
<ul>
    {% for author in authors %}
      <li>{{ author.name }}<a href="{{ url_for("delete_author",author_id=author.id)}}">删除</a></li>
        <ul>
            {% for book in author.books %}
             <li>{{ book.name }}<a href="{{ url_for("delete_book",book_id=book.id)}}">删除</a> </li>
            {% else %}
                <li>无</li>
            {% endfor %}

        </ul>
    {% endfor %}
</ul>
</body>
</html>
